**/old/**
labelssql/**
*.txt
*.pyc
dump/claims/c
dump/claims/read_dump_x.py
dump/claims/preprocessing
/preprocessing
**/texts/**
**/texts_test/**
dump2/dump1.sh
*.json
old.py
dump25/arw/sub_tab1.py
**/.ipynb_checkpoints/**
/dump27
dump26/‏‏claims_new/wd_logs.db
