**/old/**
labelssql/**
*.pyc
dump/claims/c
dump/claims/read_dump_x.py
dump/claims/preprocessing
/preprocessing
**/texts/**
**/texts_test/**
dump2/dump1.sh
old.py
dump25/arw/sub_tab1.py
**/.ipynb_checkpoints/**
dump26/‏‏claims_new/wd_logs.db
dump26/claims_max/r_28.py
**/old/**
/dump_files/split_by_pid
/dump_files/parts1_claims_fixed
*.zip
/dump_files/parts1_fixed
dump_files/properties.json
/qlever_dumps/new/dumps
/qlever_dumps/tests
**/texts_test
dump27/**/*.json
results/**/*.json
tests/**/*.json
dump_files/**/*.json
dump_files/done1_lines.txt
dump27/claims_max/results/claims_max.txt
results/**/*.txt
/qlever_dumps/props/dumps/qids_by_prop
qlever_dumps/props/dumps/qids_old.json
!qlever_dumps/props/dumps/texts/*.txt
!qlever_dumps/langs/dumps/texts/*.txt
!qlever_dumps/sitelinks/dumps/texts/*.txt
dump_lua/lua_claims/req.md
