**/old/**
# **/old_codes/**
src/labelssql/**
*.pyc
src/dump/claims/c
src/dump/claims/read_dump_x.py
**/texts/**
**/texts_test/**
src/dump2/dump1.sh
old.py
src/dump25/arw/sub_tab1.py
**/.ipynb_checkpoints/**
src/dump26/‏‏claims_new/wd_logs.db
src/dump26/claims_max/r_28.py
**/old/**
src/dump_files/split_by_pid
src/dump_files/parts1_claims_fixed
*.zip
src/dump_files/parts1_fixed
src/dump_files/properties.json
src/qlever_dumps/new/dumps
src/qlever_dumps/tests
**/texts_test
src/dump27/**/*.json
src/results/**/*.json
tests/**/*.json
src/dump_files/**/*.json
src/dump_files/done1_lines.txt
src/dump27/claims_max/results/claims_max.txt
src/results/**/*.txt
src/qlever_dumps/props/dumps/qids_by_prop
src/qlever_dumps/props/dumps/qids_old.json
!src/qlever_dumps/props/dumps/texts/*.txt
!src/qlever_dumps/langs/dumps/texts/*.txt
!src/qlever_dumps/sitelinks/dumps/texts/*.txt
src/dump_lua/lua_claims/req.md
src/dump_lua/lua_claims/gpt.txt
src/dump_lua/lua_claims/.claude
